body{
    background:url('http://thecodeplayer.com/uploads/media/gs.png');
}
header{
    height:fit-content;
    width:100%;
}
header div#title{
    color:white;
    padding-top:15px;
    padding-left: 25px;
}
header div#title span{
    font-size: 2.5em;
    font-weight: 200;
    line-height: 1.3em;
}
#main .container #container{
    margin-top:30px;
    height: 100%;
}
@media (min-width: 768px){
    .container {
        max-width: 100% !important;
    }
}
.account{
    margin: 40px 0px;
}
.movieOptions{
    background:gray;
    font-size: 1.6em;
    font-weight: 100;
    color:white;
    margin:1px;
    transition:cubic-bezier(0.19, 1, 0.22, 1);
}
.movieOptions:hover{
    background:black;
    font-size: 1.6em;
    font-weight: 100;
    color:white;
    margin:1px;
    transition:cubic-bezier(0.19, 1, 0.22, 1);
}
p.item{
margin:auto;
line-height: 2em;
}
div#movieItems{
    margin-bottom:50px;
}
div#menu{
    border-right: solid 1px gray;
    padding-bottom:40px;
    padding-right:10px;
    padding-top: 15px;
}
button.btn{
    font-size: 1.4em;
    font-weight: 300;
}
#signIn{
    color:#3ad277;
}
#movies{
    height:calc(100vh - 67px);
    overflow:scroll;
}
.popMovies{
    color:white;
    font-size: 1.8em;
    font-weight: 200;
    margin:0 auto;
    margin-bottom: 20px;
    text-decoration: underline;
}
div#movies div div img{
    width:100%;
    border-radius:5px;
    box-shadow: 0 3px 3px 5px #868e96;
}
#movieTitle{
    padding:15px;
    font-size: 1.5em;
    font-weight: 100;
    margin:0 auto;
    color:wheat;
}
div#movies div div {
    border-bottom:solid 1px wheat;
    padding-top:20px;
}
.movie:hover{
transform:scale(1.1);
transition: 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.5) all;
}
.movie{
    transition: 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.5) all;   
    margin: 10px 0;
}
#movieDetails{
    background:#808080;
    border-radius: 0px;
    color:black;
    font-weight: 100;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin:10px 0;
}
#movieDetails:hover{
    border-radius: 0px;
    border-color: black;
}
#searchText{
    height: 50px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
div#searchForm{
    width:100%;
}
#searchButton{
    margin-top: 15px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    cursor: pointer;
    color:black;
}
img{
    color:papayawhip;
}
.modal-body{
    padding:40px;
}
#signIn, #signUp{
    cursor: pointer;
}
footer{
    text-align: center;
    background: black;
    color: white;
    margin-top: 40px;
    padding: 30px 30px;
    font-size: 1.2em;
    font-weight: 100;
}

#registerheader{
    margin: 0 auto;
}
#registerbody .form-control{
    margin:15px;
}
#signIn input{
    margin:15px 0;
}
#bookMovie{
    border-radius: 0;
    background: black;
    border-color: transparent;
    width: 100%;
    cursor: pointer;
}
#bookMovie:hover{
    border-color: white;
}